header {
  height: 60px;
  width: 100%;
  background-color: #499ff5;
}

header h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color: white;
}

.buttons {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.buttons button{
  display: block;
  margin: 10px 30px 20px 50px;
  padding: 10px;
  background: #1655e3;
  color: white;
  border: solid #F2F2F2 1px;
  border-radius: 7%;
}

.buttons button:hover {
  border: solid #747474 1px;
  cursor: pointer;
}

main {
  display: block;
  margin-top: 40px;
  width: 100%;
}

.prob-content {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 350px;
  width: 600px;
  border: 1px solid #d6d6d6;
  border-radius: 1%;
  background: white;
}

#prob-1 h1{
  text-align: center;
  margin: 30px 0 20px 0;
  text-decoration: underline;
  font-size: 17px;
}

#prob-1 p {
  padding: 0 20px 20px 20px;
}

#prob-1 .form {
  text-align: center;
  margin-top: 10px;
}

#prob-1 .form p {
  display: inline-block;
  font-weight: bold;
}

#prob-1 .form input {
  margin: 0;
}

#prob-1 .form button {
  padding: 7px 10px 7px 10px;
  margin-left: 15px;
  background: #499ff5;
  color: white;
  border: solid #F2F2F2 1px;
  border-radius: 7%;
}

#prob-1 .form button:hover {
  border: solid #747474 1px;
  cursor: pointer;
}

#prob-2 {
  display: none;
}

#prob-2 h1{
  text-align: center;
  margin: 30px 0 20px 0;
  text-decoration: underline;
  font-size: 17px;
}

#prob-2 p {
  padding: 0 20px 20px 20px;
}

#prob-2 .form {
  text-align: center;
  margin-top: 10px;
}

#prob-2 .form p {
  display: inline-block;
  font-weight: bold;
}

#prob-2 .form input {
  margin: 0;
}

#prob-2 .form button {
  padding: 7px 10px 7px 10px;
  margin-left: 15px;
  background: #499ff5;
  color: white;
  border: solid #F2F2F2 1px;
  border-radius: 7%;
}

#prob-2 .form button:hover {
  border: solid #747474 1px;
  cursor: pointer;
}

#prob-3 {
  display: none;
}

#prob-3 h1{
  text-align: center;
  margin: 30px 0 20px 0;
  text-decoration: underline;
  font-size: 17px;
}

#prob-3 p {
  padding: 0 20px 20px 20px;
}

#prob-3 .form {
  text-align: center;
  margin-top: 10px;
}

#prob-3 .form p {
  display: inline-block;
  font-weight: bold;
}

#prob-3 .form input {
  margin: 0;
}

#prob-3 .form button {
  padding: 7px 10px 7px 10px;
  margin-left: 15px;
  background: #499ff5;
  color: white;
  border: solid #F2F2F2 1px;
  border-radius: 7%;
}

#prob-3 .form button:hover {
  border: solid #747474 1px;
  cursor: pointer;
}

.result {
  margin-top: 40px;
  font-size: 40px;
  color: #1655e3;
  text-align: center;
  font-weight: bold;
}

#result2 {
  margin-top: 20px;
}

body {
  background-color: #f0f0f2;
}

footer {
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
  background-color: #1d2120;
}

footer p {
  float: right;
  padding: 5px 15px 0 0;
  color: #959595;
  font-size: 15px;
  font-family: Verdana, arial;
}
