.header
{
    width: 100%;
    height: 50px;

    text-align: center;

    background-color: #444646;
}

.header h1
{
    font-size: 20px;

    padding-top: 15px;

    color: white;
}


.es
{
    width: 475px;
    height: 525px;
    margin: 20px auto;

    border: 3px #1b7a4d solid;
    border-radius: 2.5%;
    background-color: #28a268;
}

.es #screen
{
    width: 375px;
    height: 375px;
    margin: 20px auto;

    border: 5px solid #2dba77;
    border-radius: 2.5%;
    background-color: #d7d7d7;
}

.es #knob-l
{
    display: inline-block;
    float: left;

    width: 55px;
    height: 55px;
    margin-left: 20px;

    border: 3px solid #989898;
    border-radius: 100%;
    background-color: white;
}

.es #knob-l #marker-l
{
  margin: 1.5px auto;
  width: 5px;
  height: 15px;
  background-color: #5b5b5b;
  border-radius: 3px;
}

.es #knob-r
{
    display: inline-block;
    float: right;

    width: 55px;
    height: 55px;
    margin-right: 20px;

    border: 3px solid #989898;
    border-radius: 100%;
    background-color: white;
}

.es #knob-r #marker-r
{
  margin: 1.5px auto;
  width: 5px;
  height: 15px;
  background-color: #5b5b5b;
  border-radius: 3px;
}

.settings
{
    width: 700px;
    height: 100px;
    margin: 10px auto;

    text-align: center;

    border: 3px solid #104f7d;
    border-radius: 15px;
    background-color: #19659c;
}

.settings h2
{
    padding-top: 5px;

    color: white;
}

.settings #sDivider
{
    width: 100%;
    height: 1px;
    margin-top: 5px;

    background-color: #0c395b;
}

.gSize
{
    margin-top: 10px;
}

.gSize p
{
    display: inline-block;

    color: white;
}

.gSize #gSizeD
{
    width: 120px;
}

.settings button
{
    padding: 1.5px 8px 1.5px 8px;

    border: solid #f2f2f2  1.5px;
    border-radius: 3%;
    background: #f2f2f2;
}

.settings button:hover
{
    cursor: pointer;

    border: solid #ccc 1.5px;
}

.gSize button
{
    margin-left: 5px;
}

#cButton
{
    margin-top: 10px;
}

.footer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 20px;

    text-align: center;

    background-color: #131414;
}

.footer p
{
    font-size: 15px;

    float: right;

    padding: 3px 10px;

    color: #aaabaa;
}
